baseURL: "https://rafalkaron.github.io/"
languageCode: "en-us"
defaultContentLanguage: "en-us"
theme: "r-hugo-theme"

Params:
  title: "RK"
  description: "My homepage, portfolio, and resume."
  author: "Rafał Karoń"
  favicon_href: "img/favicon.svg"
  gallery_root: "media/gallery"
  # Footer icons
  email: "mailto:rafalkaron@gmail.com"
  github: "https://github.com/rafalkaron/"
  linkedin: "https://linkedin.com/in/rafa%C5%82-karo%C5%84-39534516b"
  unsplash: "https://unsplash.com/@rafalkaron"

# Navigation
Menus:
  main:
    - Name: "About me"
      URL: "/"
      weight: 1
    - Name: "Blog"
      URL: "/blog/"
      weight: 2

# Enable related links/See alsos
related:
  indices:
    - name: keywords
      weight: 100
  threshold: 80
  toLower: false

IgnoreFiles:
  - "content/_reuse"

# Markdown rendering settings
markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      linkifyProtocol: https
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute:
        block: true
        title: true
      autoHeadingID: true
      autoHeadingIDType: github
    renderer:
      hardWraps: false
      unsafe: true
      xhtml: false
  highlight:
    codeFences: true
    noClasses: true
    style: monokai
  tableOfContents:
    endLevel: 3
    ordered: false
    startLevel: 2
