//Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

$main-font: 'Open Sans', sans-serif;
$mono-font: 'Source Code Pro', monospace;
$logo-font: 'Lalezar', sans-serif;

//Palette
$primary-color: #5f0f40;
$secondary-color: #295180;

$text-dark: #222222;
$text-light: #f4f4f4;

$background-light: #f4f4f4;
$background-middle: #dddddd;
$background-dark: #222222;

//Placement
$margin-small: 0.8rem;
$margin: 1.6rem;

//Borders
$border-left: solid 0.5rem $primary-color;
$border-radius: 0.25rem;