/* Tables */
table {
  width: 100%;
  margin: $margin 0;
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  border-top: 0.25rem solid $primary-color;
  border-bottom: 0.25rem solid $primary-color;
}

/* Tables without headers */
table:has(thead) {
  border-top: none;
}


/* Table entries padding */
td,
tr,
th {
  padding: 0.5em;
}
th,
th * {
  font-weight: bold;
  color: $text-light;
  background-color: $primary-color;
}

/* Uneven table rows. */
tr:nth-child(odd) > td {
  background-color: $background-light;
}

/* Even table rows. */
tr:nth-child(even) > td {
  background-color: $background-middle;
}



table.cv-experience {
    border: none;
    width: 100%;
    margin-top: 5rem;
    display: block;
    //width: 100%;
    //margin: $margin auto;

    thead {
      display: none;
    }

    tr > td {
      background-color: $background-light;
      vertical-align: top;
    }
    
    tr > td:nth-child(1) {
      padding: 0.5rem 2.5rem 0.5rem 0;
    }

    tr > td:nth-child(2) {
      border-left: $border-left;
      padding: 0.5rem 0 0.5rem 2.5rem;
    }

}